/* set root pseudo class styles */
:root {
    --red: #ae2012;
    --blue: #0a9396;
    --char: #424B54;
    --black: #001219;
}
/* sets universal font style */
* {
    font-family: 'Montserrat', sans-serif;
}
/* sets navbar to 100% width */
.title-navbar {
    width: 100%;
}

/* styles for avatar image */
.hero img {
    width: 10%;
}
/* styles for header */
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--char);
}

/* set styles for header h1 container */
.h1-div {
    background-color: var(--blue);
    flex-wrap: wrap;
}

/* set styles for nav container */
 nav {
     flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
 }

 /* set styles for nav content */
 .navbar a {
     text-decoration: underline;
     padding: 30px 20px ;
     color: var(--blue);
     font-size: 25px;
     margin-left: auto;
 }

 /* set styles for hero section */
.hero {
    background-image: url(../images/background-image.jpg);
    display: flex;
  background-size: 100%;
}

/* set styles for hero h3 */
.hero h3 {
    background-color: var(--blue);
    margin-left: auto;
    margin-right: 50px;
    margin-top: 80px;
}

/* set style for all section h3's */
section h3 {
    font-size: 27px;
}

/* set styles for all section p's */
section p {
    font-size: 15px;
}

/* set styles for about container */
.about {
    display: flex;
}

/* set styles for about h3 */
.about h3 {
    margin-left: 120px;
    border-right: var(--black) solid 7px;
    padding-right: 3px;
}

/* set styles for about p */
.about article p {
    display: flex;
    margin-left: 10px;
}

/* set styles for work container */
.work {
    display: flex;
}

/* set styles for work h3 */
.work h3 {
    margin-left: 130px;
    border-right: var(--black) solid 7px;
    padding-right: 3px;
}
/* styles for container holding projects */
.work-container {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

/* text styles for work conainter header */
.work-container header {
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
}

/* text styles for work conainter p */
.work-container p {
    font-size: 30px;
    font-weight: bolder;
    -webkit-text-stroke: 2px white;
}

/* styles for first project */
.card-top {
    flex: 0 0 95.5%;
    height: 200px;
    margin: 10px;
    border: solid 5px var(--blue);
    text-decoration: none;
    color: var(--black);
}

/* styles for remaining projects */
.card-center {
    flex: 0 0 45.869%;
    height: 200px;
    margin: 10px;
    border: solid 5px var(--blue);
    text-decoration: none;
    color: var(--black);
}
/* styles for project headers */
.card-header {
    font-size: 20px;
}

/*  img for surf report */
.surf {
    background-image: url(../images/surf-report.jpg);
    background-size: 100%;
}

/* img for led wall */
.led-wall {
    background-image: url(../images/led-wall.jpg);
    background-size: 100%;
}

/* img for calculator */
.calculator {
    background-image: url(../images/calculator.jpg);
    background-size: 100%;
}

/* img for pastel puzzels */
.pastel-puzzels {
    background-image: url(../images/pastel-puzzel.jpg);
    background-size: 100%;
}

/* img for run buddy */
.run-buddy {
    background-image: url(../images/run-buddy-img.png);
    background-size: 100%;
}
/* styles for footer h3 */
footer h3 {
    margin-left: 50px;
    border-right: var(--black) solid 7px;
    padding-right: 3px;
    font-size: 27px;
}
/* styles for footer */
footer {
 display: flex;
justify-content: space-around;
}

/* styles for container holding contact info */
 .contact-info {
     display: flex;
     justify-content: space-around;
     flex: 2 0 50px;
     color: var(--blue);
     align-items: center;
     text-decoration: underline;
     font-size: 20px;
     margin-left: 10px;
     color: var(--black);
}

/* media query for screens 768px and below */
 @media screen and (max-width: 768px) {
   
    
 .navbar a {
    text-decoration: none;
    padding: 20px;
    color: var(--blue);
    font-size: 25px;
    margin: none;
}

    .about {
        display: flex;
        flex-direction: column;
   }
    .about h3 {
        margin: none;
        border-right: none;
        padding-right: 0;
        border-bottom: var(--black) solid 7px;
        text-align: center;
    }

.work {
    display: flex;
    flex-direction: column;
}
    
.work h3 {
    margin: none ;
    border-right: none;
    border-bottom: var(--black) solid 7px;
    text-align: center;
}

.work-container {
    margin: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-top {
    flex: 0 0 95.5%;
    margin: none;
    border: solid 5px var(--blue);
    background-image: url(../images/placeholder.png);
}


footer {
    display: flex;
    flex-direction: column;
}


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
    font-size: 20px;
    margin: none;
    color: var(--black);
 }

 footer h3 {
    margin: none;
    border-bottom: var(--black) solid 7px;
    border-right: none;
    font-size: 27px;
    text-align: center;
    }
 }